<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>RLA</title>
        <link rel="stylesheet" type="text/css" href="views/static/index.css"/>
        <link rel="shortcut icon" href="views/static/icon/icon-marca.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-950">
        <nav class="bg-slate-900 z-[2000] w-full absolute border-b-4 border-sky-950 border-double">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
              <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button type="button" id="show-itens" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="h-8 w-auto cursor-pointer" id="mainMenu" src="views/static/img/img-marca.png" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <a id="produtosNav" class="navSelect text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Serviços</a>
                            <a id="contatoNav" class="navSelect text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contatos</a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </nav>
        <nav class="bg-gray-900 z-[1000] w-full absolute">
            <div class="sm:hidden hidden transition-all duration-150" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <a id="produtosNavSelect" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium cursor-pointer">Serviços</a>
                    <a id="contatoNavSelect" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium cursor-pointer">Contatos</a>
                </div>
            </div>
        </nav>
        <div id="conteudo-pesquisa" class="w-full absolute overflow-x-hidden">
            <div id="conteudo-html" class="mt-16 p-7">
                
            </div>
        </div>
        <script>
            const FUNCAO = "<%= FUNCAO %>"
            const PARAMS = "<%= PARAMS %>";
            const DIRETORIO = "<%= URLBASE %>";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript" src="views/static/global.js"></script>
        <script type="text/javascript" src="views/static/index.js"></script>
    </body>
</html>