body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.navSelect{
    cursor: pointer;
}
.listagem{
    grid-template-columns: repeat( auto-fit, minmax(230px, 230px) );
}
.itens{
    display: grid;
    align-items: end;
    transition: 0.3s all;
}
.itens:hover{
    transform: scale(1.06);
}
.itens:active{
    transform: scale(0.93);
}
.svgMaior:active, .svgMenor:active{
    fill: green
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #374151;
}
::-webkit-scrollbar-thumb {
    background-color: #171b20;
    border-radius: 3px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
.card-fones, .card-adress, .card-work{
    background-image: linear-gradient(145deg, rgba(237,218,175,1) 0%, rgba(187,148,120,0.9660860655737705) 13%, rgba(133,85,62,1) 38%, rgba(105,62,32,1) 54%);
}
.definicaoDescricao, .definicaoNome{
    background-image: linear-gradient(45deg, #EDDAAF, #693E20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}